@import "base/_vars.scss";

.card-project{
    background-color: $accent-color;
    padding: clamp(1.25rem, -0.625rem + 8vw, 5.375rem) 0;
    margin-bottom: clamp(1.25rem, -1.591rem + 12.12vw, 7.5rem);
    &__box{
        display: flex;
        justify-content:space-around;
        align-items: center;
        gap:20px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__content{
        flex-basis: 403px;
        display: flex;
        flex-direction: column;
        gap:15px;
        color:#fff
    }
    &__title{
        font-size: clamp(1.5rem, 1.045rem + 1.94vw, 2.5rem);
        line-height: 1.08;
        @extend %Epilogue-700;
    }
    @media(max-width:767px){
        &__box{
            flex-direction: column-reverse;
        }
        &__img{
            img{
                width: 100%;
                height: auto;
            }
            
        }
        &__content{
            flex-basis: auto;
        }
    }
}